@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap");

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --font-color: #333;


  --mono: "MONO" 0;
  --casl: "CASL" 0;
  --wght: 300;
  --slnt: 0deg;
  --crsv: "CRSV" 0.5;
}

* {
  font-weight: var(--wght);
  font-style: oblique var(--slnt);
  font-variation-settings: var(--mono), var(--casl), var(--crsv);
}

html {
  font-size: 20px; 
}

body {
  color: var(--font-color);
  font-family: Recursive, sans-serif;
}


h1 {
  font-size: var(--s3);
}
h2 {
  font-size: var(--s2);
}
h3 {
  font-size: var(--s1);
}


h2,
h3 {
  --wght: 600;
  --casl: "CASL" 1;
  margin-top: var(--s2);
  margin-bottom: 0;
}


p,
ul,
ol,
dd {
  line-height: var(--s1);
  margin: var(--s1);
  max-width: 66ch;
}


.mono {
  --mono: "MONO" 1;
  --wght: 400;
}


.header-banner h1,
.header-banner h2 {
  --mono: "MONO" 1;
  --casl: "CASL" 0;
  --wght: 800;
}

/* Activity 3 (stretch) */
.header-banner {
  height: 4em;
  padding: var(--s-1);
  background-color: #ddd;
}

.header-banner > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: var(--s-1);
}

.header-banner h2 {
  writing-mode: vertical-rl;
  height: 4em;
  line-height: 0.8;
  margin: 0;
}

.header-banner h1 {
  margin: 0;
}
